@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';
@import '@/styles/mixin.scss';

.gnbContainer {
  position: sticky;
  z-index: 100;
  top: 0;
}

.gnbWrapper {
  width: 100%;
  height: 7rem;
  padding: 1.5rem 0;

  @include tablet {
    padding: 1.5rem 3.2rem;
  }

  @include mobile {
    padding: 1.5rem 1rem;
    height: 10.2rem;
  }
}

.gnbSection {
  max-width: 964px;
  margin: 0 auto;
  @include flexbox($justify: flex-start);

  @include mobile {
    display: grid;
    grid-row-gap: 1.5rem;
    grid-template-areas:
      'gnbLogo gnbMenu'
      'gnbSearchbar gnbSearchbar';
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
}

.gnbLogo {
  grid-area: gnbLogo;
  display: flex;
  align-items: center;
  margin-right: 4rem;

  @include mobile {
    height: 3rem;
    width: 8.4rem;
  }
}

.gnbItem {
  cursor: pointer;
}

.gnbSearchbar {
  margin-right: auto;
  grid-area: gnbSearchbar;

  @include mobile {
    margin-right: 0;
  }
}

.gnbMenu {
  grid-area: gnbMenu;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  margin-right: 0.3rem;

}

.notification {
  cursor: pointer;
}

.notification:hover {
  opacity: 0.8;
}
