@import '@/styles/fonts.scss';
@import '@/styles/colors.scss';
.chip {
  width: fit-content;
  padding: 6px 10px;
  border-radius: 20px;
  @include sopoqa-14-700;

  &.pending {
    background-color: $color-green-10;
    color: $color-green-20;
  }

  &.accepted {
    background-color: $color-blue-10;
    color: $color-blue-20;
  }

  &.rejected {
    background-color: $color-red-10;
    color: $color-red-20;
  }
}
