@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';
@import '@/styles/mixin.scss';

.inputFormContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  width: 100%;
}

.inputFieldContainer {
  position: relative;
}
