@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';
@import '@/styles/mixin.scss';

.inputFormContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.inputFormLabel {
  margin-bottom: 0.8rem;
}

.inputFormErrorMessage {
  margin-top: 0.8rem;
}
