@import '@/styles/globals.scss';

.wrapper {
  background-color: $color-red-10;
  border-radius: 1.2rem;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  height: 20rem;
  width: 100%;

  @include tablet {
    height: 25.6rem;
    padding: 3.7rem;
    @include desktop {
      width: 66.5rem;
    }
  }
  .section {
    .nameSection {
      font-weight: bold;
      @include flexbox(column, flex-start, left);
      gap: 0.4rem;
      margin-bottom: 1.2rem;
      @include tablet {
        gap: 0.8rem;
        margin-bottom: 1.4rem;
      }
      > h1 {
        @include sopoqa-14-700;
        display: flex-start;
        color: $color-primary;
        @include tablet {
          @include sopoqa-16-700;
        }
      }

      > p {
        font-weight: bold;
        color: $color-black;
        @include sopoqa-24-700;
        text-align: left;
      }
    }

    .infoSection {
      @include flexbox(column, flex-start, left);
      gap: 0.4rem;
      margin-bottom: 2.4rem;

      > div {
        @include flexbox(row, flex-start, left);
        gap: 0.8rem;
        align-items: center;
        @include tablet {
          gap: 1.6rem;
        }

        .icon {
          width: 1.6rem;
          height: 1.6rem;
          @include tablet {
            width: 2rem;
            height: 2rem;
          }
        }

        > p {
          @include sopoqa-14-400;
          color: $color-gray-50;
          @include tablet {
            @include sopoqa-16-400;
          }
        }
      }
    }

    .bioSection {
      @include flexbox(column, flex-start, left);

      > p {
        @include sopoqa-14-400;
        color: $color-black;

        @include tablet {
          @include sopoqa-16-400;
        }
      }
    }

    .editButton {
      @include sopoqa-14-700;
      width: 10.8rem;
      height: 3.7rem;
      padding: 1rem 2rem;
      line-height: 20px;
      border-radius: 0.6rem;

      color: $color-primary;
      background-color: $color-white;
      border: none;
      align-self: flex-end;
      border: 0.15rem solid #f26d6d;

      @include tablet {
        @include sopoqa-16-700;
        height: 4.8rem;
        width: 17.9rem;
      }
    }
  }
}

.nonDataWrapper {
  @include flexbox(column, center, center);
  background-color: $color-white;
  width: 100%;
  height: 20rem;
  padding: 6rem 2.4rem 6rem 2.4rem;
  gap: 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid #e5e4e7;

  @include flexbox(column, center, center);
  .section {
    > p {
      @include sopoqa-14-400;
      line-height: 26px;
      text-align: center;
    }
  }
  .editButton {
    @include sopoqa-14-700;
    padding: 1rem 2rem;
    height: 3.7rem;

    color: $color-white;

    line-height: 16.8rem;
    text-align: center;
    gap: 8px;
  }
}
