@import '@/styles/mixin.scss';

.largeModal,
.smallModal {
  border-radius: 1.5rem;
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
}

.largeModal {
  @include tablet {
    width: 54rem;
  }
}
