@import '@/styles/globals.scss';

.main {
  padding: 0 1.2rem;
}

.section {
  padding: 4rem 0;

  .title {
    @include sopoqa-20-700;
    margin-bottom: 1.6rem;
  }

  .article {
    @include flexbox($direction: column, $justify: center, $align: center);
    padding: 6rem 2.4rem;
    border-radius: 1.2rem;
    border: 0.1rem solid $color-gray-20;

    .description {
      @include sopoqa-14-400;
      margin-bottom: 1.6rem;
    }
  }
}
