$color-black: #111322;
$color-gray-50: #7D7986;
$color-gray-40: #A4A1AA;
$color-gray-30: #CBC9CF;
$color-gray-20: #E5E4E7;
$color-gray-10: #F2F2F3;
$color-gray-5: #FAFAFA;
$color-white: #FFFFFF;

$color-red-40: #FF4040;
$color-red-30: #FF8D72;
$color-red-20: #FFAF9B;
$color-red-10: #FFEBE7;

$color-blue-20: #0080FF;
$color-blue-10: #CCE6FF;

$color-green-20: #20A81E;
$color-green-10: #D4F7D4;

$color-kakao: #FEE500;
