@font-face {
    font-family: 'Pretendard'; //variable font 설정
    font-weight: 45 920;
    font-style: normal;
    font-display: swap;
    src: url('./woff2/PretendardVariable.woff2') format('woff2-variations');
  }

  @font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@mixin sopoqa-12-400 {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem;
}
@mixin sopoqa-14-400 {
  font-family: 'SpoqaHanSansNeo-Regular';
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.2rem;
}


@mixin sopoqa-16-400 {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2.6rem;
  }

  @mixin sopoqa-16-700 {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
  }

  @mixin sopoqa-28-700 {
    font-family: 'SpoqaHanSansNeo-Regular';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  

  //pretendard
  @mixin pretendard-16-400 {
    font-family: 'Pretendard';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
  }

  @mixin pretendard-16-500 {
    font-family: 'Pretendard';
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  @mixin pretendard-18-500 {
    font-family: 'Pretendard';
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
