$mobile-max-width: 375px;
$tablet-min-width: 376px;
$tablet-max-width: 768px;
$desktop-min-width: 769px;

//mobile first
@mixin tablet {
  @media (min-width: #{$tablet-min-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-min-width}) {
    @content;
  }
}

//pc first
@mixin pc-first-tablet {
  @media (max-width: #{$tablet-max-width}) {
    @content;
  }
}

@mixin pc-first-mobile {
  @media (max-width: #{$mobile-max-width}) {
    @content;
  }
}

@mixin flexbox($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}