$zindex-imave-cover: 900; // post 이미지 커버 (closedlayer)
$zindex-dropdown: 1000;//input dropdown 
$zindex-sticky: 1020;
$zindex-fixed: 1030; //gnb
$zindex-modal-backdrop: 1040;
$zindex-modal: 1050;
$zindex-popover: 1060; // toast, filter, notimodal
$zindex-tooltip: 1070; 