// shop-article
.articleNotice {
  @include user-article;
  padding: 2rem;
  margin-bottom: 1.2rem;
  @include tablet {
    padding: 2.4rem;
    margin-bottom: 2.4rem;
  }
  @include desktop {
    @include flexbox();
    gap: 3rem;
    height: 35.6rem;
  }

  .noticeImg {
    @include flexbox($align: center, $justify: center);
    position: relative;
    border-radius: 1.2rem;
    width: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;

    .noticeImgClosed {
      @include sopoqa-20-700;
      @include flexbox($align: center, $justify: center);
      position: absolute;
      background: rgba($color: #000000, $alpha: 0.7);
      width: 100%;
      height: 100%;
      color: $color-gray-30;
      @include tablet {
        @include sopoqa-28-700;
      }
    }

    .noticeImgOpened {
      display: none;
    }
  }

  .noticeContainer {
    padding-top: 1.2rem;
    width: 100%;
    @include tablet {
      padding-top: 1.6rem;
    }
    @include desktop {
      @include flexbox($direction: column, $align: left, $justify: space-between);
      padding-top: 1.2rem;
      width: 34.6rem;
      height: 100%;
    }

    .noticeDetailContainer {
      @include flexbox($direction: column, $align: left, $justify: flex-start);
      gap: 0.8rem;
      margin-bottom: 2.4rem;
      @include tablet {
        gap: 1.2rem;
        margin-bottom: 4rem;
      }
      @include desktop {
        width: 34.6rem;
        margin-bottom: auto;
      }

      .noticeTitleContainer {
        .noticeCategory {
          @include sopoqa-14-700;
          color: $color-primary;
          margin-bottom: 0.8rem;
          @include tablet {
            @include sopoqa-16-700;
          }
        }

        .noticeNameContainer {
          @include flexbox($align: center, $justify: flex-start);

          .noticeName {
            @include sopoqa-24-700;
            margin-right: 0.4rem;
            @include tablet {
              @include sopoqa-28-700;
              margin-right: 0.8rem;
            }
          }
        }
      }

      .noticeInfoContainer {
        @include flexbox($align: center, $justify: flex-start);
        gap: 0.6rem;

        .noticeInfoIcon {
          width: 1.6rem;
          height: 1.6rem;
          @include tablet {
            width: 2rem;
            height: 2rem;
          }
        }

        .noticeInfoText {
          @include sopoqa-14-400;
          color: $color-gray-50;
          @include tablet {
            @include sopoqa-16-400;
          }
        }
      }

      .noticeDescription {
        @include sopoqa-14-400;
        @include tablet {
          @include sopoqa-16-400;
        }
      }
    }

    .noticeButtonContainer {
      .noticeButton {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        @include tablet {
          @include button-large;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

.defaultButton {
  @include tablet {
    @include button-large;
  }
}

.noticeCommentContainer {
  width: 100%;
  padding: 2rem;
  border-radius: 1.2rem;
  background: $color-gray-10;
  color: $color-black;
  @include tablet {
    padding: 3.2rem;
  }

  .noticeCommentTitle {
    @include sopoqa-14-700;
    margin-bottom: 0.8rem;
    @include tablet {
      @include sopoqa-16-700;
      margin-bottom: 1.2rem;
    }
  }

  .noticeComment {
    @include sopoqa-14-400;
    @include tablet {
      @include sopoqa-16-400;
    }
  }
}

// notice-list-article empty
.articleNoticeListEmpty {
  @include user-article;

  .description {
    @include sopoqa-14-400;
    margin-bottom: 1.6rem;
    @include tablet {
      @include sopoqa-16-400;
      margin-bottom: 2.4rem;
    }
  }
}

// notice-list-article
.articleNoticeList {
  @include user-article;
  padding: 0;
  background: none;
  border: none;
  @include tablet {
    padding: 0;
  }
}
