@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';

.toastBox {
  @include sopoqa-16-400;
  position: fixed;
  z-index: 100;
  padding: 1rem 1.6rem;
  border-radius: 0.5rem;
  background-color: $color-red-30;
  color: $color-white;
  line-height: 2.6rem;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
}
