@import '@/styles/globals.scss';

.container {
  width: min(100%, 39rem);
  padding: 2.4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  border-radius: 1rem;
  box-shadow: 0.05rem 0.05rem 1rem rgba(0, 0, 0, 0.3);

  .header {
    display: flex;
    justify-content: space-between;

    h1 {
      @include sopoqa-20-700;
    }
  }

  .badgeList {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }

  .btnWrapper {
    display: flex;
    gap: 0.8rem;

    .resetBtn {
      width: 8rem;
      height: 4.8rem;
      padding: 1rem 1rem;
    }

    .applyBtn {
      width: 26rem;
      height: 4.8rem;
      padding: 1rem 1rem;
    }
  }

  .locationWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  .dateWrapper,
  .chargeWapper {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }

  .chargeWapper {
    p {
      display: inline-block;
    }
    section {
      display: flex;
      gap: 1.2rem;
    }
  }
}

.container p {
  @include sopoqa-16-400;
}

.container hr {
  border-color: #f2f2f3;
  border-style: solid;
  width: 35rem;
  height: 0.2rem;
}
