@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';
@import '@/styles/mixin.scss';

$card-size-large: 31.2rem;
$card-size-small: 17.1rem;

.listWrapper {
  @include flexbox(column, flex-start, flex-start);
  max-width: 96.5rem;
  justify-content: center;
  display: grid;
  gap: 3.1rem 1.4rem;
  width: 100%;

  grid-template-columns: repeat(auto-fill, $card-size-large);

  @include pc-first-tablet {
    grid-template-columns: repeat(auto-fill, $card-size-large);
  }

  @include pc-first-mobile {
    grid-template-columns: repeat(auto-fill, $card-size-small);
    gap: 1.6rem 0.8rem;
  }
}

.blankWrapper {
  @include sopoqa-16-700;
  @include flexbox();
  width: 100%;
  height: 100%;

  @include pc-first-tablet {
    @include sopoqa-14-700;
  }
}
