@import '@/styles/globals.scss';

.customContainer,
.noticeContainer {
  @include flexbox(column, center, center);
  padding: 4rem 1.2rem;
}

.customContainer {
  background-color: #ffebe7;
  @include flexbox(column);
  gap: 3rem;
  align-items: flex-start;
  h2 {
    @include sopoqa-20-700;
  }
}

.noticeContainer {
  gap: 40px;
  .noticeList {
    width: 100%;
    @include flexbox(column);
    gap: 3rem;
    align-items: normal;
  }
}

.filterInput {
  width: 100%;
  max-width: 10.5rem;
}

.txtContent {
  @include flexbox(row, space-between, center);
  h2 {
    @include sopoqa-20-700;
  }
  .highlight {
    color: $color-primary;
  }
}

.condition {
  @include flexbox();
  gap: 1rem;
}

.customList {
  @include flexbox(row);
  gap: 1.4em;
}
