@import '@/styles/colors.scss';
@import '@/styles/mixin.scss';
@import '@/styles/mixin.scss';
@import '@/styles/fonts.scss';

// .container {
//   @include flexbox(column, flex-start, center);
// }

.tableWrapper {
  position: relative;
  border: 1px solid $color-gray-20;

  border-radius: 1rem;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  max-width: 96.4rem;
  @include sopoqa-12-400;

  overflow-x: auto; /* 가로 스크롤바 표시 여부에 따라 조정 */
  overflow-y: hidden; /* 세로 스크롤바 숨김 */
  -webkit-overflow-scrolling: touch;

  @include tablet {
    width: 100%;
  }
}

.table {
  max-width: 96.4rem;
  border-spacing: 0;
  word-break: normal;

  th {
    padding: 1.2rem 0.8rem;
    background-color: $color-red-10;
    text-align: left;
    line-height: 1.6rem;

    @include tablet {
      padding: 1.4rem 1.2rem;
      font-size: 1.4rem;
      line-height: 2.2rem;
    }
  }

  td {
    padding: 1.2rem 0.8rem;
    border-bottom: 1px solid $color-gray-20;
    font-size: 1.4rem;
    line-height: 2.2rem;
    background-color: $color-white;

    @include tablet {
      padding: 2rem 1.2rem;
      font-size: 1.6rem;
      line-height: 2.6rem;
    }
  }

  th,
  td {
    &:first-of-type {
      min-width: 22.8rem;
    }

    &:nth-of-type(2) {
      min-width: 30rem;
    }

    &:nth-of-type(3) {
      min-width: 20rem;
    }

    &:last-of-type {
      width: 23.6rem;
      min-width: 16.2rem;
      position: sticky;
      right: 0;
      border-left: 1px solid $color-gray-20;
    }
  }

  span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pagination {
  padding: 1.2rem 0;
  max-width: 96.4rem;
  min-width: 35.1rem;
  background-color: $color-white;

  @include tablet {
    padding: 0.8rem 1.2rem;
    width: 100%;
  }
}
