@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';
@import '@/styles/mixin.scss';

$card-size-large: 31.2rem;
$card-size-small: 17.1rem;

.wrapper {
  @include flexbox(column, flex-start, flex-start);
  max-width: 96.4rem;
  gap: 3.2rem;
  @include pc-first-tablet {
    max-width: 64.2rem;
  }
  @include pc-first-mobile {
    max-width: 53.3rem;
  }
  @include pc-first-small-mobile {
    max-width: 35.5rem;
  }
}

.titleHeader {
  @include flexbox(row, space-between, flex-start);
  width: 100%;
  @include pc-first-tablet {
    &.isHome {
      padding: 0 3.2rem;
    }
  }
  @include pc-first-mobile {
    &.isHome {
      padding: 0 1.2rem;
    }
  }
  @include pc-first-mobile {
    @include flexbox(column, flex-start, flex-start);
    gap: 1.6rem;
    padding: 0 0.6rem;
  }
}

.title {
  color: $color-black;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  @include pc-first-mobile {
    font-size: 2rem;
  }
}

.filterElementWrapper {
  @include flexbox(flex-end);
  gap: 1rem;
}

.listWrapper {
  display: grid;
  gap: 3.1rem 1.4rem;
  grid-template-columns: repeat(3, $card-size-large);
  @include pc-first-tablet {
    grid-template-columns: repeat(2, $card-size-large);
    margin: 0 auto;
  }
  @include pc-first-mobile {
    grid-template-columns: repeat(3, $card-size-small);
    gap: 1.6rem 0.8rem;
  }
  @include pc-first-small-mobile {
    grid-template-columns: repeat(2, $card-size-small);
  }
}

.blankWrapper {
  @include flexbox();
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.highlight {
  color: #ff4500;
}