@import '@/styles/colors.scss';
@import '@/styles/fonts.scss';
@import '@/styles/mixin.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
    background-color: $color-gray-10; 
  }

  &.active {
    background-color: $color-gray-10;
  }

  .icon {
    font-size: 2rem;
    color: $color-gray-40;
  }
}
